.Header {
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem;
  position: relative;
}
  .Header__title, .Header__counter {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  .Header__title {
    background: url('../../logo.svg') no-repeat left center;
    line-height: 1rem;
    padding-left: 2rem;
  }